{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
    <table class="table">
        <thead>
            <tr class="table-success">
                <th scope="col" width="15%" style="text-align: center;">간식 이름</th>
                <th scope="col" width="5%" style="text-align: center;">사진</th>
                <th scope="col" width="25%" style="text-align: center;">구매 URL</th>
                <th scope="col" width="20%" style="text-align: center;">설명</th>
                <th scope="col" width="5%" style="text-align: center;">신청인</th>
                <th scope="col" width="10%" style="text-align: center;">신청 일자</th>
                <th scope="col" width="15%" style="text-align: center;">주문 상태</th>
                <th scope="col" width="2.5%" style="text-align: center;"></th>
                <th scope="col" width="2.5%" style="text-align: center;"></th>
            </tr>
        </thead>
        <tbody>
            {% if snack_request_list %}
            {% for snack in snack_request_list %}
            <tr>
                <td style="text-align: center; vertical-align: middle;">{{ snack.name }}</td>
                {% if snack.image %}
                <td style="text-align: center; vertical-align: middle;">
                    <img src="{{ snack.image.url }}" width="100px" height="100px" </td>
                    {% else %}
                <td style="text-align: center; vertical-align: middle;">
                    <img src="{{ 'image/snack/default_snack_image.jpeg' }}" width="100px" height="100px">
                </td>
                {% endif %}
                {% if snack.url|length > 88 %}
                <td style="text-align: center; vertical-align: middle;">
                    <a href="{{ snack.url }}" style="font-size:12px">{{ snack.url|slice:":88" }}...</a>
                </td>
                {% else %}
                <td style="text-align: center; vertical-align: middle;">
                    <a href="{{ snack.url }}">{{ snack.url }}</a>
                </td>
                {% endif %}
                <td style="text-align: center; vertical-align: middle;">{{ snack.description }}</td>
                <td style="text-align: center; vertical-align: middle;">{{ snack.requester }}</td>
                <td style="text-align: center; vertical-align: middle;">{{ snack.create_date|date:"y/m/d" }}</td>
                {% if snack.is_accepted %}
                <td style="text-align: center; vertical-align: middle;">
                    <span style="color:mediumseagreen">●</span> {{ snack.supply_year }}년 {{ snack.supply_month }}월 비치 예정
                </td>
                {% else %}
                    <td style="text-align: center; vertical-align: middle;"><span style="color:orange">●</span> 주문 대기중</td>
                {% endif %}
                {% if request.user == snack.requester %}
                <td style="text-align: center; vertical-align: middle;">
                    <a href="{% url 'snack:request_modify' snack.id %}" class="btn btn-secondary btn-sm">
                        <i class="fas fa-edit"></i>
                    </a>                    
                </td>
                {% endif %}
                {% if request.user == snack.requester %}
                <td style="text-align: center; vertical-align: middle;">
                    <a href="{% url 'snack:request_delete' snack.id %}" class="btn btn-secondary btn-sm" onclick="return confirm('정말로 삭제하시겠습니까?')">
                        <i class="far fa-trash-alt"></i>
                    </a>                    
                </td>
                {% endif %}
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="3">신청된 간식이 없습니다.</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    <!-- 페이징처리 시작 -->
    <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if snack_request_list.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ snack_request_list.previous_page_number }} style="color: #333; background-color: #fff;"">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#" style="color: #333; background-color: #fff;">이전</a>
        </li>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in snack_request_list.paginator.page_range %}
        {% if page_number >= snack_request_list.number|add:-5 and page_number <= snack_request_list.number|add:5 %}
        {% if page_number == snack_request_list.number %}
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="?page={{ page_number }}" style="color: #333; background-color: #fff;">{{ page_number }}</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_number }}" style="color: #333; background-color: #fff;">{{ page_number }}</a>
        </li>
        {% endif %}
        {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if snack_request_list.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ snack_request_list.next_page_number }}" style="color: #333; background-color: #fff;">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#" style="color: #333; background-color: #fff;">다음</a>
        </li>
        {% endif %}
    </ul>
    <!-- 페이징처리 끝 -->
    <a href="{% url 'snack:request_create' %}" class="btn btn-secondary btn-sm ">간식 신청하기</a>
</div>
{% endblock %}