{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
    <table class="table">
        <thead>
            <tr class="table-dark">
                <th scope="col" width="20%" style="text-align: center;">간식 이름</th>
                <th scope="col" width="20%" style="text-align: center;">사진</th>
                <th scope="col" width="40%" style="text-align: center;">구매 URL</th>
                <th scope="col" width="20%" style="text-align: center;">신청 일자</th>
            </tr>
        </thead>
        <tbody>
            {% if snack_request_list %} 
            {% for snack in snack_request_list %}
            <tr>
                <td style="text-align: center; vertical-align: middle;">{{ snack.name }}</td>
                <td style="text-align: center; vertical-align: middle;">
                    <img src="{{ snack.image.url }}" width="100px" height="100px"
                </td>
                <td style="text-align: center; vertical-align: middle;"><a href="{{ snack.url }}">{{ snack.url|slice:":80" }}...{% if snack.url|length > 80 %}(생략){% endif %}</a></td>
                <td style="text-align: center; vertical-align: middle;">{{ snack.create_date }}</td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="3">신청된 간식이 없습니다.</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    <a href="{% url 'snack:snack_request_create' %}" class="btn btn-primary">간식 신청하기</a>
</div>
{% endblock %}